<product-tile
  {% if product %}
    data-rendered
    data-product="{{ product | json | escape }}"
  {% endif %}
  {% if handle %}data-handle="{{ handle }}"{% endif %}
>
  {% if product %}
    {% if product.featured_image != blank %}
      <img
        src="{{ product.featured_image | image_url: width: 300 }}"
        alt="{{ product.featured_image.alt | escape }}"
      >
    {% endif %}
    <a href="{{ product.url }}">
      {{ product.title }}
    </a>
    {% render 'buy_button', product: product %}
  {% else %}
    Not through Liquid - hydrate with JS
    TODO: Render skeleton
  {% endif %}
</product-tile>
